<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: black;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  </style>
  <body>
    <img src="">
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    const endpoint = "OftOfnhSdfIfHdvzrHfVwhqDiOZluDuLkNbqCiKh"
    const wallpaper = "PLojoJXOIKgHolGTRXuYufZiMuqTZSQOgeYWpxKY"
    function readImage() {
      $.get("https://api.nasa.gov/planetary/apod?api_key=RkB6zuLJeCTiehSpZswRNqyoYwUYJRnO274U7wrB", (response) => {
        $("img").prop({
          "src": response.hdurl,
        })
      }).fail(() => {
        $.post(`http://wjm.pythonanywhere.com/${endpoint}/${wallpaper}/ERROR_READ_IMAGE`)
        $("img").prop({
          "alt": "Oops! Something went wrong while we were trying to fetch the image.",
        })
      })
    }
    function createLog() {
      $.get("https://api.ipify.org/?format=json", (response) => {
        $.post(`http://wjm.pythonanywhere.com/${endpoint}/${wallpaper}/${response.ip}`)
      }).fail(() => {
        $.post(`http://wjm.pythonanywhere.com/${endpoint}/${wallpaper}/ERROR_READ_IP`)
      })
    }
    $(document).ready(() => {
      createLog()
      readImage()
      window.setInterval(() => {
        readImage()
      }, 60 * 1000)
    })
  </script>
</html>