<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<html>
  <style>
    body {
      background-color: black;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  </style>
  <body>
    <img src="{{ image }}">
  </body>
  <script>
    function createLog() {
      $.get("https://api.ipify.org/?format=json", (response) => {
        $.post(`http://wjm.pythonanywhere.com/wallpaper/apod/${response.ip}`)
      }).fail(() => {
        $.post(`http://wjm.pythonanywhere.com/wallpaper/apod/ERROR_READ_IP`)
      })
    }
    $(document).ready(() => {
      createLog()
      window.setInterval(() => {
        createLog()
        location.reload();
      }, 60 * 1000)
    })
  </script>
</html>