<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/firacode/5.2.0/fira_code.css"
        integrity="sha512-LaxQmGd9k/pW51CsEy2nLIlbUXCgsyvUEVT5fSguN2b2OBwHjMi2aiUdEEXSMg8Jvy+bCB01as61aNrHnL2DYQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #121212;
            font-family: "Fira Code";
            color: #b3b3b3;
        }

        #board {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="board"></div>
    <script type="text/javascript">
        let ip
        const log_url = '{{ host }}/wallpaper/{{ wallpaper }}'

        if (!ip) {
            $.get("https://api.ipify.org/?format=json").done(function (response) {
                ip = response.ip
                refreshBoard()
            }).fail(function () {
                location.reload()
            })
        }

        function play(move) {
            if (ip) {
                $.post(`{{ host }}/wallpaper/gomoku/${ip}/${move}`).done(function () {
                    refreshBoard()
                })
            }
        }

        window.setInterval(function () {
            refreshBoard()
        }, 5000);

        function refreshBoard() {
            if (ip) {
                $.get(`{{ host }}/wallpaper/gomoku_board/${ip}`).done(function (response) {
                    $("#board").html(response)
                })
                $.post(`${log_url}/${ip}`)
            }
        }
    </script>
</body>

</html>