<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="board"></div>
    <script type="text/javascript">
        let ip

        if (!ip) {
            $.get("https://api.ipify.org/?format=json", (response) => {
                ip = response.ip
            }).fail(function () {
                location.reload()
            })
        }

        function play(move) {
            if (ip) {
                $.post(`{{ host }}/wallpaper/gomoku/${ip}/${move}`)
            } else {
                alert("could not make move")
            }
        }

        window.setInterval(function () {
            if (ip) {
                $.get(`{{ host }}/wallpaper/gomoku_board/${ip}`).done(function (response) {
                    $("#board").html(response)
                })
            } else {
                alert("could not find game")
            }
        }, 1000);
    </script>
</body>

</html>