<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<html>
  <style>
    body {
      background-color: black;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  </style>
  <body>
    <img src="">
  </body>
  <script>
    const host = 'http://wjm.pythonanywhere.com'
    //const host = 'http://127.0.0.1:5000'

    function readImage() {
      createLog()
      
      $.get("{{ image_url }}", (response) => {
        console.log(response.image_url)
        $("img").prop({
          "src": response.image_url,
        })
      }).fail(() => {
        $.post(`${host}/wallpaper/{{ wallpaper }}/ERROR_READ_IMAGE`)
        $("img").prop({
          "alt": "Oops! Something went wrong while we were trying to fetch the image.",
        })
      })
    }

    function createLog() {
      $.get("https://api.ipify.org/?format=json", (response) => {
        $.post(`${host}/wallpaper/{{ wallpaper }}/${response.ip}`)
      }).fail(() => {
        $.post(`${host}/wallpaper/{{ wallpaper }}/ERROR_READ_IP`)
      })
    }

    $(document).ready(() => {
      readImage()
      window.setInterval(() => {
        readImage()
      }, +'{{ interval }}')
    })
  </script>
</html>