<!DOCTYPE html>
<html>
<head>
<style>

.ticker-grid {
  width: 80%;
  display: grid;
  grid-gap: 3% 1%;
  grid-template-columns: auto auto auto auto auto;


  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid-n {
  background-color: rgba(50, 50, 50, 50);
  padding: 10%;
  font-size: 30px;
  text-align: center;
  border-radius: 5%;
}

</style>
</head>
<body>

<div class="ticker-grid">
  <div class="grid-n">01</div>
  <div class="grid-n">02</div>
  <div class="grid-n">03</div>
  <div class="grid-n">04</div>
  <div class="grid-n">05</div>
  <div class="grid-n">06</div>
  <div class="grid-n">07</div>
  <div class="grid-n">08</div>
  <div class="grid-n">09</div>
  <div class="grid-n">10</div>
  <div class="grid-n">11</div>
  <div class="grid-n">12</div>
  <div class="grid-n">13</div>
  <div class="grid-n">14</div>
  <div class="grid-n">15</div>
  <div class="grid-n">16</div>
  <div class="grid-n">17</div>
  <div class="grid-n">18</div>
  <div class="grid-n">19</div>
  <div class="grid-n">20</div>
  <div class="grid-n">21</div>
  <div class="grid-n">22</div>
  <div class="grid-n">23</div>
  <div class="grid-n">24</div>
  <div class="grid-n">25</div>
</div>

</body>
</html>