<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../static/styles/tickerTracker.css">
</head>

<body>
  <br/><br/>
  <h1>Top stocks at real time</h1><br/><br/><br/><br/>
  <div class="periodic-table">
    <div class="periodic-element positive" data-description="I'm only on here to reject invitations 😂">
      <div class="periodic-element-inner">
        <div class="title">Li</div>
        <div class="description">LinkedIn</div>
      </div>
    </div>
    <div class="periodic-element positive" data-description="Only so I don't miss out on my friends' milestones 🤷">
      <div class="periodic-element-inner">
        <div class="title">Fb</div>
        <div class="description">Facebook</div>
      </div>
    </div>
    <div class="periodic-element negative" data-description="Company Name:	Tesla Inc / NASDAQ / Beta:	1.984491 / Range:	170.82-900.4">
      <div class="periodic-element-inner">
        <div class="title">TSLA</div>
        <div class="description">Changes -5.63</div>
        <div class="description">Price 625.22</div>
      </div>
    </div>
    <div class="periodic-element negative" data-description="Coming up with sassy commit messages 🔥">
      <div class="periodic-element-inner">
        <div class="title">Ct</div>
        <div class="description">Commits</div>
      </div>
    </div>
    <div class="periodic-element positive" data-description="Making custom emojis for Slack 💪🏻">
      <div class="periodic-element-inner">
        <div class="title">Sl</div>
        <div class="description">Slack</div>
      </div>
    </div>
    <div class="periodic-element positive" data-description="'Wikipedia Wormhole' is a thing. And it is dangerous 🐛">
      <div class="periodic-element-inner">
        <div class="title">Wk</div>
        <div class="description">Wikipedia</div>
      </div>
    </div>
    <div class="periodic-element negative" data-description="Choosing the right playlist. (If my Spotify is working... it's always not working)">
      <div class="periodic-element-inner">
        <div class="title">Sp</div>
        <div class="description">Spotify</div>
      </div>
    </div><a class="periodic-element positive" data-description="If you say something witty, it's going on my Twitter 🐦" href="https://twitter.com/meowlivia_" target="_blank">
      <div class="periodic-element-inner">
        <div class="title">Tw</div>
        <div class="description">Twitter</div>
      </div></a>
    <div class="periodic-element negative" data-description="Professional Dota 2 Watcher right here ✌️">
      <div class="periodic-element-inner">
        <div class="title">Tc</div>
        <div class="description">Twitch</div>
      </div>
    </div>
  </div><br/><br/><br/><br/><br/>
  <div class="legend-table">
    <div class="legend-table__wrapper"><span class="legend-table__marker positive"></span><span class="legend-table__text">Positive</span><span class="legend-table__marker negative"></span><span class="legend-table__text">Negative</span><span class="legend-table__text">Last Update: 432424</span><br/></div>
  </div>
  <footer><a href="https://gmail.com" target="_blank"><i class="icon-social-google icons"></i></a><a href="https://steamcommunity.com/id/PolarisDesu" target="_blank"><i class="icon-social-steam icons"></i></a></footer><br/><br/><br/><br/>
</body>

</html>