<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            <form action = "/" method = "POST" class="text-center">
                <input type="text" name="text" class="form-control" placeholder="Write here." />
                <br>
                <button type="submit" class="btn btn-primary">Post Anonymously</button>
            </form>
        	<hr data-brackets-id="12673">
        	<ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                {% for comment in comments: %}
            		<strong class="pull-left primary-font">{{ comment.anonymous_name }}</strong>
            		<small class="pull-right text-muted">
            			<span class="glyphicon glyphicon-time"></span> {{ arrow.get(comment.created_on).humanize() }}
            		</small>
            	    </br>
            	    <li class="ui-state-default">{{ comment.text }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
