<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well">
            <form action="/" method="POST" class="text-center">
                <input type="text" name="text" class="form-control" placeholder="Write here." />
                <br>
                <button type="submit" class="btn btn-primary">Post Anonymously</button>
            </form>
            <hr data-brackets-id="12673">
            <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">{{ comments }}</ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script>
    var set_delay = 1000,
        callout = function () {
            $.ajax({
                url: "/comments",
                success: function (response) {
                    $("#sortable").html(response);
                }
            })
                .done(function (response) {
                    MathJax.typeset();
                })
                .always(function () {
                    setTimeout(callout, set_delay);
                });
        };
    callout();
</script>