<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Wallpaper Hits</h2>

<table>
  <tr>
    <th>IP</th>
    <th>Hit Count</th>
    <th>Date (UTC)</th>
    <th>Country</th>
    <th>Region</th>
    <th>City</th>
    <th>ISP</th>
    <th>Google Map</th>
  </tr>
  {% for datum in data: %}  
    <tr>
      <td>{{ datum.ip }}</td>
      <td>{{ datum.count }}</td>
      <td>{{ datum.created_on }}</td>
      <td>{{ datum.country }}</td>
      <td>{{ datum.region }}</td>
      <td>{{ datum.city }}</td>
      <td>{{ datum.isp }}</td>
      <td><a href="{{ datum.map }}">Click</a></td>
    </tr>
  {% endfor %}
</table>

</body>
</html>
